<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script text="text/script" src="/js/users.js"></script>
    </head>

    <body>
        <table>
            <tr>
                <td>account</td>
                <td>balance</td>
            </tr>
            <tr>
                <td><%=userInfo[0].account%></td>
                <td><%=userInfo[0].balance%></td>
            </tr>
            <tr>
                <td><%=userInfo[1].account%></td>
                <td><%=userInfo[1].balance%></td>
            </tr>
            <tr>
                <td><%=userInfo[2].account%></td>
                <td><%=userInfo[2].balance%></td>
            </tr>
        </table>

        <div>
            <input type="text" id='contract' placeholder="contract address"> </input>
            <button onclick="sendEth()"> sendEth </button>
        </div>


    </body>
</html>