<!--<html>
	<head>
		<title>Showdetail</title>
	</head>
	<body >  
		<ul class="Persons">
			<li class="person">
				<h1>See the detail</h1>
				<table border="1">
					<tr>
						<td  bgcolor="LightSteelBlue"><span>type</td><td width=150><%= Persons[0].type %></span><br></td>
					</tr>
					<tr>
						<td  bgcolor="LightSteelBlue"><span>auth</td><td width=150><%= Persons[0].auth %></span><br></td>
					</tr>
					<tr>
						<td  bgcolor="LightSteelBlue"><span>year</td><td width=150><%= Persons[0].year %></span><br></td>
					</tr>
					<tr>
						<td  bgcolor="LightSteelBlue"><span>addr</td><td width=150><%= Persons[0].addr %></span><br></td>
					</tr>
				</table>
			</li>
			<button onclick="sendEth()"> sendEth </button>
			<input type="button" value="download" onclick="download()"><br />
		</ul>
				
		<script>
			function download(){
				let keyword = "<%= Persons[0].keyword %>";

				if(isSent() == true) {
					keywordFinish(keyword);
				}
				else {
					alert("please send money to get the file");
				}
			}
		</script>
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/asmCrypto/0.22.0/asmcrypto.min.js"></script>
		<script src="/js/PFCCTR.js"></script>
		<script src="/js/Utility.js"></script>
		<script src="/MAKA/MAKA.js"></script>
		<script src="/MAKA/doMAKA.js"></script>
		<script src="/MAKA/loadCard.js"></script>
		<script src="/MAKA/usage.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/download.js"></script>
		<script src="/js/users.js"></script>
	</body>
</html>-->
<!DOCTYPE html>
<html>
	<head>
	<title>Showdetail</title>
	<!-- HTML meta 設定 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>首頁</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="google-site-verification" content="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body >
<nav class="navi_bar">
  <div class="navi_logo">
    <a class="navi_logo_tw" href="../../">創作內容平台</a>
    <div class="navi_logo_en">Taiwan Copyright Market</div>
  </div>
  <div class="navi_wrap_buttonarea">
    <a href="index.html"><div class="navi_wrap_button" >首頁</div></a>
    <div class="navi_wrap_vertical"></div>
    <a href='/users' class="loginhide" ><div class="navi_wrap_button gray">逛逛市集</div></a>
	<a href='/creators' class="loginhide" ><div class="navi_wrap_button gray">創作者上傳</div></a>
	<a href='/login' class="loginhide"><div class="navi_wrap_button gray">會員登入</div></a>
    
    <div class="dropdown">
      <div class="dropbtn navi_wrap_button gray">menu 
        <i class="fa fa-caret-down"></i></div>
      <div class="dropdown-content">
        <a href="#about">關於網站</a>
        <a href="#user-register">使用者註冊</a>
        <a href="#Buyer">買家使用</a>
        <a href="#Creator">創作者上傳</a>
      </div>
    </div> 
  </div>   
</nav>
<br>
<br>
<br>
        <center>
			
				<h1><font size='9'>See the detail</font></h1><br><br><br><br>
				<a href="#" class="fa fa-google"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-github"></a>
				<a href="#" class="fa fa-facebook"></a><br>
				
				<table border="3">
					<tr>
						<td  bgcolor="LightSteelBlue" width=200 height=50><span><font size="4">Type</font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td width=500 height=50><center><%= Persons[0].type%></center></span><br></td>
					</tr>
					<tr>
						<td  bgcolor=#B0E0E6 width=200 height=50><span><font size="4">AuthorName</font>&nbsp</td><td width=500 height=50><center><%= Persons[0].auth %></center></span><br></td>
					</tr>
					<tr>
						<td  bgcolor="LightSteelBlue" width=200 height=50><span><font size="4">Year of creation</font>&nbsp</td><td width=500 height=50><center><%= Persons[0].year %></center></span><br></td>
					</tr>
					<tr>
						<td  bgcolor=#B0E0E6 width=200 height=50><span><font size="4">Address</font>&nbsp</td><td width=500 height=50><center><%= Persons[0].addr%></center></span><br></td>
					</tr>
				</table>
			    <br><br>				
				<button style="font-size: 20px; cursor: pointer; #9999FF dashed;background-color:#ADD8E6;" onclick="sendEth()"> sendEth </button>
				<button style="font-size: 20px; cursor: pointer; #9999FF dashed;background-color:#ADD8E6;" onclick="download()">download</button>
		</center>
	    
				
		<script>
			function download(){
				let keyword = "<%= Persons[0].keyword %>";
				keywordFinish(keyword);
			}
		</script>
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/asmCrypto/0.22.0/asmcrypto.min.js"></script>
		<script src="/js/PFCCTR.js"></script>
		<script src="/js/Utility.js"></script>
		<script src="/MAKA/MAKA.js"></script>
		<script src="/MAKA/doMAKA.js"></script>
		<script src="/MAKA/loadCard.js"></script>
		<script src="/MAKA/usage.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/download.js"></script>
	</body>
</html>