<html>
	<head>
		<title>Showdetail</title>
		<!-- HTML meta 設定 -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="google-site-verification" content="" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>

<!-- top bar -->
<nav class="navi_bar">
  <div class="navi_logo">
    <a class="navi_logo_tw" href="../../">創作內容平台</a>
    <div class="navi_logo_en">Taiwan Copyright Market</div>
  </div>
  <div class="navi_wrap_buttonarea">
    <a href="index.html"><div class="navi_wrap_button" >首頁</div></a>
    <div class="navi_wrap_vertical"></div>
    <a href='/users' class="loginhide" ><div class="navi_wrap_button gray">逛逛市集</div></a>
	<a href='/creators' class="loginhide" ><div class="navi_wrap_button gray">創作者上傳</div></a>
	<a href='/login' class="loginhide"><div class="navi_wrap_button gray">會員登入</div></a>
    
    <div class="dropdown">
      <div class="dropbtn navi_wrap_button gray">menu 
        <i class="fa fa-caret-down"></i></div>
      <div class="dropdown-content">
        <a href="#about">關於網站</a>
        <a href="#user-register">使用者註冊</a>
        <a href="#Buyer">買家使用</a>
        <a href="#Creator">創作者上傳</a>
      </div>
    </div> 
  </div>   
</nav>
        <center>
				<h1>
					<font size='9'><%=Persons[0].filename%></font>
				</h1>

				<br><br><br>
				<a href="#" class="fa fa-google"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-github"></a>
				<a href="#" class="fa fa-facebook"></a><br>
				
				<table border="3">
					<tr>
						<td>Type</td>
						<td><%= Persons[0].type%></td>
					</tr>
					<tr>
						<td>Author</td>
						<td><%= Persons[0].auth %></td>
					</tr>
					<tr>
						<td>Year</td>
						<td><%= Persons[0].year %></td>
					</tr>
					<tr>
						<td>Contract Address</td>
						<td><%= Persons[0].addr%></td>
					</tr>
					<tr>
						<td>File Hash (sha256)</td>
						<td><%= Persons[0].fileHash%></td>
					</tr>
				</table>
			    <br><br>				
				<button onclick="sendEth()"> sendEth </button>
				<button onclick="download()">download</button>
		</center>
				
		<script>
			function download(){
				let keyword = "<%= Persons[0].keyword %>";
				keywordFinish(keyword);
			}
		</script>

		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/PFCCTR.js"></script>
		<script src="/js/Utility.js"></script>
		<script src="/js/download.js"></script>
	</body>
</html>