<html>
	<head>
		<title>Showdetail</title>
	</head>
	<body >  
		<ul class="Persons">
			<li class="person">
				<h1>See the detail of <%= Persons[0].musicName%> </h1>
				<table border="1">
					<tr>
						<td  bgcolor="LightSteelBlue"><span>type:</td><td width=150><%= Persons[0].type%></span><br></td>
					</tr>
					<tr>
						<td  bgcolor="LightSteelBlue"><span>auth:</td><td width=150><%= Persons[0].auth %></span><br></td>
					</tr>
					<tr>
						<td  bgcolor="LightSteelBlue"><span>year:</td><td width=150><%= Persons[0].year %></span><br></td>
					</tr>
				</table>
			</li>
			<button onclick="sendEth()"> sendEth </button>
			<input type="button" value="download" onclick="download()"><br />
		</ul>
				
		<script>
			function download(){
				let keyword = "<%= Persons[0].keyword %>";
				keywordFinish(keyword);
			}
		</script>
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/asmCrypto/0.22.0/asmcrypto.min.js"></script>
		<script src="/js/PFCCTR.js"></script>
		<script src="/js/Utility.js"></script>
		<script src="/MAKA/MAKA.js"></script>
		<script src="/MAKA/doMAKA.js"></script>
		<script src="/MAKA/loadCard.js"></script>
		<script src="/MAKA/usage.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/download.js"></script>
		<script src="/js/users.js"></script>
	</body>
</html>